<nav class="navbar navbar-expand-lg  text-light bg-primary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobrenosotros">Sobre nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/listServicios" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Servicio y suscripciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/listServicios">servicios</a></li>
                        <li><a class="dropdown-item" href="/listup">suscripciones</a></li>
                        <li><a class="dropdown-item" href="/addServicios">Crear servicio</a></li>
                        <li><a class="dropdown-item" href="/addsup">Crear suscripcion</a></li>
                        
                    </ul>
                </li>

            </ul>
            <span class="navbar-text text-uppercase text-center  ">
                LUMIERE
            </span>
        </div>
    </div>
</nav>