<main class="mt-5">
    <h2 class="text-uppercase text-center p-4">Nuestros Servicios</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
        <div class="">
            <div class="card w-75 mx-5 ">
                <img src="/img/AnalisisDatos.jpg" class="card-img-top " alt="..." style="width: 463px; height: 300px; display:flex;">
                <div class="card-body">
                    <h5 class="card-title">Analisis de datos</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card w-75 mx-5 ">
                <img src="/img/DesarrolloAplicaciones.jpg" class="card-img-top" alt="..."  style="width: 463px; height: 300px; display:flex;">
                <div class="card-body">
                    <h5 class="card-title">Desarrollo de aplicaciones</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card w-75 mx-5 ">
                <img src="/img/desarrolloweb.jpg" class="card-img-top" alt="..." style="width: 463px; height: 300px; display:flex;">
                <div class="card-body">
                    <h5 class="card-title">Desarrollo web</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card w-75 mx-5">
                <img src="/img/MarketingDigital.jpg" class="card-img-top "  alt="..." style="width: 463px; height: 300px; display:flex;">
                <div class="card-body">
                    <h5 class="card-title">Marketing Digital</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <p>© 2024 Mi Empresa. Todos los derechos reservados.</p>
        <ul>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Términos y condiciones</a></li>
            <!-- Otros enlaces -->
        </ul>
    </div>
</footer>
