<main>
<div class="container mt-4">
    <div class="card m-2">
        <h5 class="card-header text-center">Misión</h5>
        <div class="card-body">
            <p class="card-text"> En LUMIERE, nos apasiona conectar la innovación con la creatividad para ofrecer soluciones digitales que transforman negocios y vidas. Nuestro equipo de expertos en diseño web, desarrollo de software y marketing digital trabaja incansablemente para crear experiencias en línea que no solo cumplen, sino que superan las expectativas de nuestros clientes. Con un enfoque centrado en la calidad, la eficiencia y la satisfacción del cliente, nos enorgullece ser el socio confiable en tu viaje hacia el éxito digital. ¡Iluminamos tu camino hacia un futuro brillante en el mundo digital! </p>
        </div>
    </div>

    <div class="card m-2">
        <h5 class="card-header text-center">Visión</h5>
        <div class="card-body">
            <p class="card-text"> Nuestra visión en LUMIERE es ser líderes globales en la creación de soluciones digitales innovadoras que impulsen la transformación y el crecimiento sostenible de nuestros clientes. Aspiramos a iluminar el futuro digital con nuestras ideas creativas, tecnologías avanzadas y un compromiso inquebrantable con la excelencia. Queremos ser reconocidos no solo por la calidad de nuestro trabajo, sino también por nuestra capacidad para inspirar y empoderar a las empresas a alcanzar su máximo potencial en el competitivo mundo digital.</p>
        </div>
    </div>

    <div class="card m-2">
        <h5 class="card-header text-center">Historia</h5>
        <div class="card-body">
            <p class="card-text">LUMIERE nació de la pasión compartida de un grupo de visionarios por la tecnología y la creatividad. Fundada en 2010, nuestra empresa comenzó como un pequeño equipo de desarrolladores y diseñadores dedicados a ofrecer soluciones web personalizadas para pequeñas empresas. Con el tiempo, nuestra dedicación a la innovación y la excelencia nos permitió crecer y expandir nuestros servicios a diversas industrias. Hoy, LUMIERE se enorgullece de ser un referente en el mundo digital, ayudando a empresas de todos los tamaños a transformar sus ideas en realidades impactantes y sostenibles.</p>
            
        </div>
    </div>
</div>
</div>
</main>
